name: Check Spelling

permissions:
  contents: read

on:
  pull_request:
    paths:
    - '**.txt'
    - '**.md'
    branches: 
      - main
      - 'ver_*'
      - dev

jobs:
  spelling:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0
      with:
        persist-credentials: false
    
    - name: Check Spelling
      uses: SFLScientific/spellcheck-github-actions@84072e1621c56777f2da246b5eddfcb18012720d # master