name: Check Docstrings

permissions:
  contents: read

on:
  push:
    paths:
      - '**.py'
    branches:
      - main
      - dev
      - 'ver_*'
  pull_request:
    paths:
      - '**.py'
    branches: 
      - main
      - dev
      - 'ver_*'

jobs:
  analyze:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0
      with:
        persist-credentials: false
    
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip==24.0
        python -m pip install pydocstyle
        pip install -r requirements.txt
    
    - name: Check package docstrings with pydocstyle
      run: |
        # Check docstring syntax
        pydocstyle src/falconpy --count
