name: Pylint

permissions:
  contents: read

on:
  push:
    paths:
      - '**.py'
    branches:
      - main
      - dev
      - samples
      - 'ver_*'
  pull_request:
    paths:
      - '**.py'
    branches: 
      - main
      - dev
      - samples
      - 'ver_*'

jobs:
  analyze:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip==24.0
        python -m pip install pylint
        pip install -r requirements.txt
    
    - name: Lint package source with pylint
      run: |
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        pylint src/falconpy --max-line-length=127 --disable=R0801
    
    - name: Lint samples with pylint
      run: |
        # NOTE! NOTE! NOTE! NOTE! NOTE! NOTE! NOTE! NOTE! NOTE! NOTE! NOTE! NOTE! NOTE!
        # -----------------------------------------------------------------------------
        # PYLINT WORKFLOWS DO NOT STOP BUILDS FOR LINTING FAILURES WITHIN SAMPLE CODE |
        #                                    - 08.02.21 / jshcodes@CrowdStrike        |
        # -----------------------------------------------------------------------------
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        pylint samples --max-line-length=127 --disable=R0801 --exit-zero
